#button00,
#button01,
#button02,
#button10,
#button11,
#button12,
#button20,
#button21,
#button22 {
  min-width: 130px;
  min-height: 130px;
  margin: 5px;
  padding: 5px;
}

#button00:hover,
#button01:hover,
#button02:hover,
#button10:hover,
#button11:hover,
#button12:hover,
#button20:hover,
#button21:hover,
#button22:hover {
  box-shadow: inset 0px 0px 65px #ff1493;
}

