* @sonnyp

# Vala
*.vala @lw64
/src/langs/vala/ @lw64

# Rust
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian
/src/langs/rust/ @Hofer-Julian

# C
*.c @andyholmes
*.h @andyholmes

# Python
*.py @theCapypara
/src/langs/python/ @theCapypara
