/src/langs/javascript/ @sonnyp
*.js @sonnyp

/src/langs/vala/ @lw64
*.vala @lw64

/src/langs/rust/ @Hofer-Julian
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian

/src/langs/python/ @theCapypara
*.py @theCapypara

*.c @andyholmes
*.h @andyholmes
