[submodule "troll"]
	path = troll
	url = https://github.com/sonnyp/troll.git
[submodule "demos"]
	path = demos
	url = https://github.com/workbenchdev/demos.git
[submodule "blueprint-compiler"]
	path = blueprint-compiler
	url = https://gitlab.gnome.org/jwestman/blueprint-compiler.git
[submodule "src/langs/typescript/template/gi-types"]
	path = src/langs/typescript/gi-types
	url = https://gitlab.gnome.org/BrainBlasted/gi-typescript-definitions.git
	branch = nightly
