package-lock.json -diff

test/assert.js -diff
test/uvu.js -diff

src/lib/ltx.js -diff
src/lib/postcss.js -diff
src/lib/prettier.js -diff
src/lib/prettier-babel.js -diff
src/lib/prettier-postcss.js -diff
src/lib/prettier-xml.js -diff

data/icons/re.sonny.Workbench-symbolic.svg -diff
data/icons/re.sonny.Workbench.Devel.svg -diff
data/icons/re.sonny.Workbench.svg -diff

# po/re.sonny.Workbench.pot -diff
# po/*.po -diff
