.view-toggler image {
  margin-right: 6px;
}

/* Workaround Large Text issue */
/* https://gitlab.gnome.org/GNOME/libadwaita/-/merge_requests/539 */
combobox#dropdown_ui_lang button {
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: 30px;
}
