.view-toggler image {
  margin-right: 6px;
}

.hoverdisplay {
  padding: 8px;
  border-radius: 10px;
}

.panel_header {
  padding-left: 12px;
  padding-right: 12px;
}

.command_snippet {
  color: @view_fg_color;
  background: @view_bg_color;
  font-family: monospace;
  border-radius: 6px;
  padding: 6px;
  border: 1px solid @borders;
}

/*
 * From Builder's stylesheet:
 * https://gitlab.gnome.org/GNOME/gnome-builder/-/blob/main/src/libide/gui/style.css?ref_type=heads#L33
 * Used to style the language tags for the demo entries in the Library
 */
button.pill.small {
  font-size: 0.83333em;
  border-radius: 99px;
  margin: 0;
  padding: 1px 12px;
}

#panel_code,
#panel_style,
#panel_ui {
  border-right: solid 1px @borders;
  background-color: #fcfcfc;
}

/* Prevent dev banner on second toolbar */
#panel_code > revealer,
#panel_style > revealer,
#panel_ui > revealer,
#panel_preview > revealer,
#panel_devtools > revealer {
  background-image: none;
}

#toolbar_devtools {
  background-color: #fcfcfc;
}
