.view-toggler image {
  margin-right: 6px;
}

.hoverdisplay {
  padding: 8px;
  border-radius: 10px;
}

.panel_header {
  padding-left: 12px;
  padding-right: 12px;
}

.command_snippet {
  color: @view_fg_color;
  background: @view_bg_color;
  font-family: monospace;
  border-radius: 6px;
  padding: 6px;
  border: 1px solid @borders;
}

#panel_code,
#panel_style,
#panel_ui {
  border-right: solid 1px @borders;
  background-color: #fcfcfc;
}

/* Prevent dev banner on second toolbar */
#panel_code > revealer,
#panel_style > revealer,
#panel_ui > revealer,
#panel_preview > revealer,
#panel_devtools > revealer {
  background-image: none;
}

#toolbar_devtools {
  background-color: #fcfcfc;
}
